:root {
    --background-img-url: url('img-optimized/background-extra-small.webp');
}

@media screen and (min-width: 600px) {
    :root {
        --background-img-url: url('img-optimized/background-small.webp');
    }
}

@media screen and (min-width: 900px) {
    :root {
        --background-img-url: url('img-optimized/background-normal.webp');
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --background-img-url: url('img-optimized/background-large.webp');
    }
}
.image-container {
    background: var(--background-img-url);
}
